// Colors

$light: #e5e5e5;
$dark: #1a1a1a;

// Borders

$borderColor: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
$borderNormal: 1px solid;
$radiusL: 10px;

// Section Sizes

$sectionsL: 520px;
$maschineWL: 1200px;
$maschineHL: 600px;
