@import "./globals";

* {
    padding: 0;
    margin: 0;
    font-family: $sans;
}

body {
    background-color: $dark;
}

// App

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    /*     background-color: $light; */
}
