@import "./globals";

.Maschine {
    width: $maschineWL;
    height: $maschineHL;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transform: perspective(75em) rotateX(18deg);
    box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
        rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
    border-radius: $radiusL;
    border: $borderNormal;
    border-color: $borderColor;
}
