@import "../globals";

.Transport {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
}

.Transport button {
    background-color: transparent;
    box-sizing: border-box;
    color: $light;

    border-radius: $radiusL;
    border: $borderNormal;
    border-color: $borderColor;

    svg {
        fill: $light;
        width: 20px;
    }
}

.TransportVolume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: $light;
}
